table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid rgb(211, 20, 20);
  padding: 8px;
  text-align: left;
}

th, span {
  background-color: #f2f2f2;
}

tbody>tr:nth-child(odd) {
  color: rgb(193, 95, 4);
  background-color: rgb(187, 237, 69);
}

tbody>tr:nth-child(odd)>td {
  background-color: rgb(187, 237, 69);
}

.styledArrow {
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
  color: red;
}
